<div class="container">
  <div class="section-title">
    <h2>Contact Us</h2>
    <p>
      Reach out to us for bookings, inquiries, or any information about our
      chauffeur services. We're here to assist you.
    </p>
  </div>
  <div class="contact-wrapper">
    <div class="contact-info">
      <h3>Get in Touch</h3>
      <p>
        Have questions about our services or need to book a chauffeur? Contact
        us using the information below or fill out the form to send us a
        message. We'll get back to you as soon as possible.
      </p>
      <div class="contact-details">
        <div class="contact-item">
          <i class="fas fa-map-marker-alt"></i>
          <span><strong>Location:</strong> Detroit, Michigan</span>
        </div>
        <div class="contact-item">
          <i class="fas fa-phone-alt"></i>
          <span><strong>Phone:</strong> +1 (586) 366-8058</span>
        </div>
        <!-- <div class="contact-item">
          <i class="fas fa-envelope"></i>
          <span><strong>Email:</strong> info&#64;elitechauffeur.com</span>
        </div> -->
        <div class="contact-item">
          <i class="fas fa-clock"></i>
          <span><strong>Hours:</strong> 24/7 Service Available</span>
        </div>
      </div>
      <div class="social-links">
        <a
          href="https://www.instagram.com/mrbeattheodds/"
          class="social-link"
          aria-label="instagram"
          target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <!-- <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a> -->
      </div>
    </div>
    <div class="contact-form">
      <h3>Send us a Message</h3>
      <form (submit)="submitForm($event)">
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              [(ngModel)]="formData.name"
              [required]="true"
              type="text"
              name="name"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              [(ngModel)]="formData.email"
              [required]="true"
              type="email"
              name="email"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone</mat-label>
            <input
              matInput
              [(ngModel)]="formData.phone"
              [required]="true"
              type="tel"
              name="phone"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Service</mat-label>
            <select
              matNativeControl
              [(ngModel)]="formData.service"
              required
              name="service"
            >
              <option value="" disabled selected></option>
              <option value="Prom Grad">Prom/Graduation Transportation</option>
              <option value="Corporate Service">Corporate Service</option>
              <option value="Wedding Transportation">
                Wedding Transportation
              </option>
              <option value="Special Event">Special Event</option>
              <option value="Hourly Hire">Hourly Hire</option>
            </select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Message</mat-label>
            <textarea
              matInput
              [(ngModel)]="formData.message"
              [required]="true"
              [rows]="1"
              name="message"
            ></textarea>
          </mat-form-field>
        </div>
        <button
          type="submit"
          class="submit-btn"
          [matTooltip]="
            !formData.email ||
            !formData.name ||
            !formData.phone ||
            !formData.message ||
            !formData.service
              ? 'Please fill out all fields'
              : ''
          "
          matTooltipPosition="below"
          matTooltipClass="tooltip"
          [disabled]="
            !formData.email ||
            !formData.name ||
            !formData.phone ||
            !formData.message ||
            !formData.service ||
            isSubmitting
          "
          #sendMsgBtn
        >
          {{ isSubmitting ? "Sending..." : "Send Message" }}
        </button>
      </form>
    </div>
  </div>
</div>
