<nav id="mainNav" [class.scrolled]="scrolled()">
  <div class="container nav-container">
    <a
      href="#"
      (click)="scrollTo('home', $event)"
      class="logo header-icon-mini"
    >
      <i class="fas fa-car-side"></i> Royal Chauffeur
    </a>
    <ul class="nav-links" [class.active]="mobileMenuOpen()">
      <li><a href="#" (click)="scrollTo('home', $event)">Home</a></li>
      <li><a href="#" (click)="scrollTo('services', $event)">Services</a></li>
      <li><a href="#" (click)="scrollTo('fleet', $event)">Our Fleet</a></li>
      <li><a href="#" (click)="scrollTo('about', $event)">About Us</a></li>
      <li><a href="#" (click)="scrollTo('gallery', $event)">Gallery</a></li>
      <!-- <li>
        <a href="#" (click)="scrollTo('testimonials', $event)">Testimonials</a>
      </li> -->
      <li><a href="#" (click)="scrollTo('contact', $event)">Contact</a></li>
    </ul>
    <button class="mobile-menu-btn" (click)="toggleMobileMenu()">
      <i
        class="fas"
        [class.fa-bars]="!mobileMenuOpen()"
        [class.fa-times]="mobileMenuOpen()"
      ></i>
    </button>
  </div>
</nav>

<!-- Header -->
<header id="home">
  <app-header
    (scrollToEvent)="scrollTo($event.target, $event.event)"
  ></app-header>
</header>

<!-- Services Section -->
<section id="services" class="services">
  <app-services
    [services]="services"
    (scrollToEvent)="scrollTo($event.target, $event.event)"
  ></app-services>
</section>

<!-- Fleet Section -->
<section id="fleet" class="fleet">
  <app-fleet [fleet]="fleet"></app-fleet>
</section>

<!-- About Section -->
<section id="about" class="about">
  <app-about></app-about>
</section>

<!-- Photo Gallery Section -->
<section id="gallery" class="photo-gallery">
  <app-gallery [galleryPhotos]="galleryPhotos"></app-gallery>
</section>

<!-- Video Section -->
<section class="video-section">
  <app-video
    [url]="videoUrl"
    (scrollToEvent)="scrollTo($event.target, $event.event)"
  ></app-video>
</section>

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials" [hidden]="true">
  <app-testimonials [testimonials]="testimonials"></app-testimonials>
</section>

<!-- Contact Section -->
<section id="contact" class="contact">
  <app-contact></app-contact>
</section>

<!-- Footer -->
<footer><app-footer></app-footer></footer>
