<div class="video-bg">
  <!-- Placeholder for video -->
  <video autoplay loop playsinline muted [volume]="0" class="vertical-video">
    <source [src]="url" type="video/mp4" />
    <!-- Add fallback formats if needed -->
    Your browser does not support the video tag.
  </video>
</div>
<div class="container">
  <div class="video-content">
    <h2>Experience Luxury Like Never Before</h2>
    <p>
      We deliver exceptional chauffeur services to our clients, ensuring
      comfort, safety, and elegance in every journey. Sit back and relax, we got
      you!
    </p>
    <a href="#" class="cta-btn" (click)="onScrollTo('contact', $event)"
      >Book Your Experience</a
    >
  </div>
</div>
